# Node modules
node_modules/

# Logs
*.log

# Build output
dist/
build/

# Environment variables
.env

# Coverage directory used by tools like istanbul
coverage/

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
